.grid-container {
    display: grid;
    width: 100%;
    /* height: 100vh; */
    margin-top: 5%;
    padding: 0;
    background-color: transparent;
    grid-gap: 50%;
    grid-column-gap: 2%;
    grid-template-areas:
        "img1 img2 img3 img4 img5"
        "img6 img7 img8 img9 img10"
        "img11 img12 img13 img14 img15";
    /* grid-template-rows: 0.5fr 0.5fr 0.5fr, 0.5fr, 0.5fr; */
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    text-align: center;
    place-items: center;
}

.skills {
    grid-area: skills;
    color: white;
    margin-top: 8%;
    text-align: center;
    font-size: 1.5vw;
    background-color: transparent;
}

.skills h1 {
    margin-bottom: 0;
}

h2 {
    color: white;
    margin-bottom: 0;
    text-align: center;
}

p {
    color: #CCCCCC;
}

.logo {
    width: 7vw;
    height: 7vw;
}

.img1 {
    grid-area: img1;
    align-self: start;
}

.img2 {
    grid-area: img2;
    align-self: start;
}

.img3 {
    grid-area: img3;
    align-self: start;
}

.img4 {
    grid-area: img4;
    align-self: start;
}

.img5 {
    grid-area: img5;
    align-self: start;
}

.img6 {
    grid-area: img6;
    align-self: start;
}

.img7 {
    grid-area: img7;
    align-self: start;
}

.img8 {
    grid-area: img8;
    align-self: start;
}

.img9 {
    grid-area: img9;
    align-self: start;
}

.img10 {
    grid-area: img10;
    align-self: start;
}

.img11 {
    grid-area: img11;
    align-self: start;
}

.img12 {
    grid-area: img12;
    align-self: start;
}

.img13 {
    grid-area: img13;
    align-self: start;
}

.img14 {
    grid-area: img14;
    align-self: start;
}

.img15 {
    grid-area: img15;
    align-self: start;
}