.home-background {
    width: 100%;
    height: 100vh;
}

.home-content {
    position: relative;
    top: 20%;
}

.home-content h1 {
    max-width: 100%;
    font-size: 6vw;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
    animation-duration: 3s;
}

.home-content h2 {
    color: white;
    width: fit-content;
    max-width: 80%;
    font-size: 3vw;
    margin-top: 5%;
    margin-left: 10%;
    animation: fadeIn 3s ease-in-out;
}

.specialize {
    color: #0c66c2;
    font-size: 4vw;
    font-family: cursive, fantasy, sans-serif;
    animation: highlight 2s infinite;
}

.home-content p {
    margin-top: 0;
    max-width: 80%;
    color: #CCCCCC;
    font-size: 1.5vw;
    margin-bottom: 5%;
    margin-left: 10%;
    line-height: 1.5;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes highlight {
    0% {
        color: white;
    }

    50% {
        color: #0c66c2;
    }

    100% {
        color: white;
    }
}

.fade-in-text {
    animation: fadeIn 2s ease-in-out;
}


@media (min-width: 428px) and (max-width: 768px) {

    /* .home-content h1 {
        font-size: 6vw;
    }
*/
    /* .home-content h2 {
        font-size: 3vw;
    }

    .specialize {
        font-size: 5vw;
    } */

    .home-content p {
        font-size: 2.5vw;
    }
}

@media (max-width: 428px) {

    .home-content h1 {
        font-size: 12vw;
    }

    .home-content h2 {
        font-size: 6vw;
    }

    .specialize {
        font-size: 7vw;
    }

    .home-content p {
        font-size: 3.5vw;
    }
}