.page-name {
    font-family: Centra;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    margin-top: 5%
}

.project {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border: white 1px solid;
    color: white;
}

.project:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project .top-section {
    text-align: left;
}

.project .top-section h3 {
    margin: 0;
}

.project hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.project .bottom-section {
    display: flex;
    align-items: center;
}

.project .bottom-section a {
    margin-right: 10px;
    flex-shrink: 0;
}

.project .details {
    flex-grow: 1;
}

.project .details p {
    margin: 0;
    margin-left: 20px;
}

.img-github {
    background-image: url('../assets/icon/github.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    width: 3.5vw;
    height: 3.5vw;
}

.img-secret {
    background-image: url('../assets/icon/secret.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-top: 5px;
    width: 3vw;
    height: 3vw;
}