body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px;
}

.navbar {
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}

.container {
    margin-top: 70px;
}

.active a {
    border-bottom: 2px solid white;
}

/* Add more styles as needed */

@media (max-width: 600px) {

    /* Add mobile-specific styles here */
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        margin-top: 10px;
    }
}