@font-face {
    font-family: Centra;
    src: url('../assets/font/CentraNo2-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Centra;
    src: url('../assets/font/CentraNo2-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Centra;
    src: url('../assets/font/CentraNo2-Book.ttf');
    font-weight: 400;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Centra', sans-serif !important;
}
.backGroundIMG {
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
    /* padding: 4em; */
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/banner-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 10%;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    
}
.social-icon {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
    margin-right: 10px;
    transform: scale(0.8);
}

.social-icon img {
    width: 40px;
    height: 40px;
    transform: scale(0.8);
}
  
.navbarText {
    color: #CCCCCC;
    /* padding-top: 14px; */
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #31244b;
    background-color: #31244b;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.navbarText.active {
    background-color: #5f55af;
    color: white;
}
.navbarText:hover {
    color: white;
    font-size: 30px;
}
.navbarText::after {
    content: attr(title);
}
.social-icon img:hover {
    transform: rotate(-2deg);
}
.social-icon img::after {
    content: attr(title);
}
.grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: transparent;
    grid-gap: 1%;
    grid-column-gap: 1%;
    grid-template-areas: 
        "header header header"
        "body body body";
    
    grid-template-rows:0.5fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.headerClass {
    grid-area: header;
    color: white;
    margin-top: 10%;
    text-align: center;
    font-size: 1.5vw;
    background-color: transparent;
}
.headerClass h1 {
    margin-bottom: 0;
}
h2 {
    color: white;
}
p {
    color: #CCCCCC;
}
.bodyClass {
    color: #CCCCCC;
    grid-area: body;
    /* text-align: center; */
}

table {
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.tableText {
    font-size: 20px;
    /* font-style: italic;
    color: #0066CC; */
}

.tableHead {
    font-weight: bold;
    font-size: 20px;
    color: white;
}